body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.hand {
  overflow: auto;
}

.covered{
  background: url(../img/card-back.png);
}

button {
  margin: auto;
}